@import 'lib/_reset';
// @import 'lib/_normalize';

@import 'partials/_utils';
@import 'partials/_variables';
@import 'partials/_fonts';

// Slick Slider
@import "lib/_slick" ; 

// Susy Grid
@import "lib/susy/_susy" ;
@import 'lib/susy/plugins/_svg-grid';

$susy: (
  'columns': susy-repeat(12),
  'gutters': 30px/68px,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$susy-mobile: (
  'columns': susy-repeat(2),
  'gutters': 0.125,
);

// Global style
html {box-sizing: border-box;}
*,*:before,*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

body {
	font-size: $baseFontSize ;
	line-height: 20px;
	font-family: "lato", sans-serif;
	font-weight: normal;
	color: $black;
}

#content {
	position: relative;
	max-width: $gridSize;
	margin: 0 auto;
}
.main-wrapper {
	@include mobile {
		margin: 0 20px;
	}
}
.susy-grid {
	display: none;
	background: susy-svg-grid() no-repeat scroll;
	@include mobile {
		margin: 0 20px;
		@include susy-use($susy-mobile) {
			background: susy-svg-grid() no-repeat scroll;	
		}
	}
}

img {max-width: 100%;}
a {color: inherit;}
em {font-style: italic;}
strong {font-weight: bold;}

.img-overlay {
	position: absolute;
	top: 0 ; left: 0 ; right: 0 ; bottom: 0;
	background-size: cover ; 
	background-position: center center ; 
	.dark-bck {
		position: absolute;
		top: 0 ; left: 0 ; right: 0 ; bottom: 0;
		background-color: rgba(0,0,0,0.15);
	}
}

@import "modules/modules";
@import "modules/hero";
@import "modules/intro";