/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-dots {
    position: relative;
    display: flex ; 
    justify-content: center;
    li {
        display: inline-block;
        position: relative;
        width: 9px ; 
        height: 9px ; 
        opacity: 0.3;
        border-radius: 50% ; 
        margin-right: 7px ; 
        text-indent: -999em; 
        transition: all 0.4s ease(in-out-quint);
        cursor: pointer;
        background-color: #1F1F23;
        &:last-child {margin-right: 0;}

        &:hover, &.slick-active {
            opacity: 1 ;
        }
    }
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    height: 100%;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    img {display: block;}
    [dir="rtl"] & {
        float: right;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
