
// DOM
$headerHeight : 117px;
$headerHeightMobile : 90px;
$gridSize: 1140px;

// Font
$baseFontSize : 14px;

// Colors
$white : #ffffff;
$black : #000000;
$green : #B1EEE8;

// OLD
$pink : #EDE4DF;



